.product-card-container1 {
  flex: 0 0 auto;
}
.product-card-container:first-child {
  margin-top: 0px;
}
.product-card-container:nth-child(1) {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 79.28%,
      rgba(0, 0, 0, 0.6) 95.65%
    ),
    url("https://d2e8m995jm0i5z.cloudfront.net/websiteimages/img_1091_3963_b83c4e.webp")
      50%,
    #d9d9d9;
}
.product-card-container:nth-child(2) {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 79.28%,
      rgba(0, 0, 0, 0.6) 95.65%
    ),
    url("https://d2e8m995jm0i5z.cloudfront.net/websiteimages/img_1091_3973_5fd7b9.webp")
      50%,
    #d9d9d9;
}
.product-card-container:nth-child(3) {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 79.28%,
      rgba(0, 0, 0, 0.6) 95.65%
    ),
    url("https://d2e8m995jm0i5z.cloudfront.net/websiteimages/div__15mcgqg_bc90e9.webp")
      50%,
    #d9d9d9;
}
.product-card-container:nth-child(4) {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 79.28%,
      rgba(0, 0, 0, 0.6) 95.65%
    ),
    url("https://d2e8m995jm0i5z.cloudfront.net/websiteimages/img_1091_3978_f3ce90.webp")
      50%,
    #d9d9d9;
}
