.product-card-container-fav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 24px 24px 32px 23px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, cover, auto;
  border-radius: 16px;
}
.product-display-container-fav {
  margin-top: 29px;
}
.product-info-container1-fav {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: space-between;
}
.product-code-label-fav {
  flex: 0 0 auto;
  padding: 0;
  padding-top: 7.5px;
  margin: 0;
  font: 600 32px Artnoova;
  color: white;
  white-space: pre-wrap;
}
.product-code-container-fav {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 53px;
  padding-right: 11.5px;
  padding-left: 11.5px;
  background: white;
  border-radius: 96px;
}
.svg-container5-fav {
  display: flex;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  color: #f76767;
}
.product-details-container-fav {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 371px;
}
.text-image-container-fav {
  box-sizing: border-box;
  display: block;
  width: 139px;
  max-width: initial;
  height: 29px;
}
.image-container-with-margin-fav {
  box-sizing: border-box;
  display: block;
  width: 54px;
  max-width: initial;
  height: 54px;
  margin-left: 170px;
}
