.page {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #111;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
.one {
  background-color: rgb(0, 174, 255);
}
.two {
  background-color: rgb(255, 0, 123);
  position: relative;
}
.three {
  background-color: rgb(142, 255, 4);
}
.gsap {
  font-size: 50vh;
  white-space: nowrap;
  transform: translateX(35%);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -100%);
  text-shadow: 4px 5px 0px black;
  color: rgb(255, 172, 237);
  cursor: default;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 40px;
  width: 100%;
}
.one {
  display: block;
}
.menuicon {
  font-size: 1.5rem;
  position: relative;
  z-index: 3;
}
.menuicon img {
  width: 40px;
  filter: invert(1);
  cursor: pointer;
}
.slidernavbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.445);
  box-sizing: border-box;
  padding: 20px 20px 20px 40px;
  gap: 20px;
  border-radius: 30px 0 0 30px;
  transform: translateX(100%);
  z-index: 100000;
  backdrop-filter: blur(5px);
}
.closeicon {
  position: absolute;
  top: 30px;
  right: 25px;
  background-color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10000px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slidernavbar h2 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.712);
  transition: text-shadow 0.5s ease;
}
.slidernavbar h2:hover {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.712);
}
.three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 5vw;
}
.three h2 {
  font-size: 5vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-wrap: nowrap;
  margin: 0;
}
.main {
  position: relative;
  z-index: 1;
  width: 100%;
  color: rgb(82, 170, 0);
}
.three > * {
  width: 90%;
  position: relative;
}
.secondary1,
.secondary2 {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(0, 0, 0);
  height: 100%;
  width: 0%;
  overflow: hidden;
  display: inline-block;
  z-index: 2;
  margin: 0;
  padding: 0;
  color: rgb(19, 61, 0);
}
.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 70vh;
}
.mainpage h1,
.mainpage h1 span {
  color: rgb(227, 243, 255);
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.705);
  font-size: 5vw;
  margin: 0;
  padding: 5px 0;
}
.mainpage h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.mainpage p {
  font-size: 1.8vw;
  margin: 0;
  width: 65vw;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
}
.card {
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
  padding: 30px 50px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.205);
  position: relative;
}
.card h1 {
  margin: 0;
  padding: 0;
  transform: none !important;
  font-weight: 500;
  font-size: 40px;
}
.mouseFollower {
  min-height: 2px;
  min-width: 2px;
  border-radius: 10000px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 10000;
  z-index: 2;
  box-shadow: 0px 0px 20px #fff;
  color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  text-align: center;
  font-size: 15px;
  color: transparent;
  pointer-events: none;
}
.cardWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.mouseFollower p {
  cursor: default;
  user-select: none;
  color: inherit;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::before,
.card::after {
  content: "";
  background-image: conic-gradient(
    from var(--rotate),
    rgb(0, 162, 255),
    rgb(111, 0, 255),
    rgb(255, 0, 191),
    rgb(255, 0, 64),
    rgb(255, 196, 0),
    rgb(0, 162, 255)
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
  padding: 3px;
  animation: spin 2.5s linear infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.card::after {
  filter: blur(10px);
}
@keyframes spin {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}
