.email-notification-container3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: whitesmoke;
}
.email-notification-container2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 1280px;
  padding-top: 35px;
  padding-bottom: 58px;
}
.email-notification-container1 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: white;
  border-radius: 24px;
}
.email-notification-container5 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 464px;
  padding-top: 127px;
  padding-bottom: 191px;
}
.primary-button-style {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  min-width: 462px;
  height: 48px;
  margin-top: 40px;
  font: 600 16px Inter, sans-serif;
  color: white;
  cursor: pointer;
  background: black;
  border: none;
  border-radius: 110px;
}

body {
  margin: 0;
  padding: 0;
}
