.center-aligned-text-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.subheading-text-style {
  flex: 0 0 auto;
  align-self: center;
  padding: 0;
  margin: 0;
  margin-left: -65px;
  font: 500 14px/17px Inter, sans-serif;
  color: #bfbfbf;
  white-space: pre-wrap;
}
.separator-line {
  flex: 0 0 auto;
  margin-top: -5.5px;
  border-top: 1px solid #bfbfbf;
}
.horizontal-layout-box {
  flex: 0 0 auto;
  padding-right: 44px;
  padding-left: 255px;
  margin-top: -1px;
}
.fullwidth-border-box {
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid #bfbfbf;
}
