.hero-section2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 16px 47px;
  background: white;
  border-radius: 24px;
}
.central-content-panel {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
  justify-content: center;
  width: 44.6%;
  padding-top: 63px;
  padding-bottom: 63px;
}
.hero-title-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 600 40px/48px Artnoova;
  color: black;
  text-align: center;
  white-space: pre-wrap;
}
.central-text-block {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 400 16px Inter, sans-serif;
  color: #666666;
  text-align: center;
  white-space: pre-wrap;
}
.button-with-icon {
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 3.5px;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 276px;
  min-width: 276px;
  height: 48px;
  margin-left: -65px;
  font: 600 16px Inter, sans-serif;
  color: black;
  cursor: pointer;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 110px;
}
.svg-container {
  display: flex;
  width: 32px;
  height: 32px;
}
.login-section3 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 55.4%;
}
.image-container-full-width {
  box-sizing: border-box;
  display: block;
  width: 673px;
  max-width: initial;
  height: 562px;
  margin-right: -31px;
  margin-left: -31px;
  border: none;
  border-radius: 40px;
  object-fit: cover;
}
