.password-reset-info-box {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.password-reset-message1 {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 600 40px/48px Artnoova;
  color: black;
  text-align: center;
  white-space: pre-wrap;
}
.password-reset-message {
  flex: 0 0 auto;
  align-self: center;
  padding: 0;
  margin: 0;
  margin-top: 24px;
  font: 400 16px/22.5px Inter, sans-serif;
  color: #666666;
  text-align: center;
  white-space: pre-wrap;
}
