/* Base styles for large screens (keep existing design) */
.main-content-container-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 1440px;
  padding-left: 3px;
  background: white;
}

.header-navbar-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 88px;
}

.product-image-styles-nav {
  box-sizing: border-box;
  display: block;
  width: 147px;
  max-width: initial;
  height: 18.5px;
  border: none;
  object-fit: cover;
}

/* Small devices (mobile, 767px and down) */
@media (max-width: 767px) {
  .header-navbar-nav {
    flex-direction: column; /* Adjust flex direction */
    height: auto; /* Adjust height */
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
  }
}
