.password-reset-form-container1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 1280px;
  background: white;
  border-radius: 24px;
}
.password-reset-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  padding-top: 44px;
  padding-bottom: 45px;
}
.profile-image-placeholder {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  width: 147px;
  max-width: initial;
  height: 18.5px;
  border: none;
  object-fit: cover;
}
.login-link-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 600 14px/17px Inter, sans-serif;
  color: black;
  text-decoration-line: underline;
  white-space: pre-wrap;
}
