.login-section2 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
  justify-content: flex-start;
}
.login-section {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  min-width: 463px;
  margin-left: -64px;
}
.login-section1 {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}
.checkbox-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid gray;
  border-radius: 3px;
}
.checkbox-container input:checked + img {
  display: block;
}
.hidden-input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}
.hidden-icon {
  display: none;
  width: 16px;
  max-width: initial;
  height: 16px;
  margin-top: -1px;
  margin-left: -1px;
}
.img-content-66044729 {
  content: url("https://d2e8m995jm0i5z.cloudfront.net/websiteimages/img_d74c1d.svg");
}
.remember-me-label {
  margin-left: 7px;
  font: 400 14px/17px Inter, sans-serif;
  color: #666666;
}
.user-prompt-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 400 14px/17px Inter, sans-serif;
  color: #666666;
  text-decoration-line: underline;
  white-space: pre-wrap;
}
.login-button-style {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  min-width: 462px;
  height: 48px;
  margin-top: 8px;
  font: 600 16px Inter, sans-serif;
  color: white;
  cursor: pointer;
  background: black;
  border: none;
  border-radius: 110px;
}
.account-info-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: flex-start;
  margin-left: -65px;
}
.account-info-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 400 14px/17px Inter, sans-serif;
  color: #666666;
  white-space: pre-wrap;
}
.sign-up-link-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-left: 6px;
  font: 600 14px/17px Inter, sans-serif;
  color: black;
  text-decoration-line: underline;
  white-space: pre-wrap;
}
