.main-container1-his {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 1440px;
}
.main-container-his {
  box-sizing: border-box;
  max-width: 1280px;
  padding-top: 20px;
  padding-bottom: 56px;
}
