.vertical-spacing-container {
  flex: 0 0 auto;
  margin-top: 32px;
}
.masked-image-container {
  box-sizing: border-box;
  display: block;
  width: 410px;
  max-width: initial;
  height: 291px;
  clip-path: path(
    "M0,48c0,-22.6274 0,-33.9411 7.02944,-40.97056c7.02946,-7.02944 18.34316,-7.02944 40.97056,-7.02944h314c22.627,0 33.941,0 40.971,7.02944c7.029,7.02946 7.029,18.34316 7.029,40.97056v195c0,22.627 0,33.941 -7.029,40.971c-7.03,7.029 -18.344,7.029 -40.971,7.029h-314c-22.6274,0 -33.9411,0 -40.97056,-7.029c-7.02944,-7.03 -7.02944,-18.344 -7.02944,-40.971z"
  );
  object-fit: cover;
}
