.filter-items-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 396px;
  padding: 49px 39px 40px;
  background: white;
  box-shadow: inset 0px -1px 0px black;
}
.filter-heading {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 600 20px Artnoova;
  color: black;
  white-space: pre-wrap;
}
