.global-fashion-hub-layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 1440px;
  padding-top: 20px;
  padding-bottom: 58px;
}
.flex-centered-row {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: flex-start;
}
.product-image-placeholder {
  box-sizing: border-box;
  display: block;
  width: 147px;
  max-width: initial;
  height: 18.5px;
  border: none;
  object-fit: cover;
}
.main-navigation-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 47px;
}
.horizontal-flex-container-with-icons1 {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 55px;
  align-items: center;
  justify-content: flex-start;
}
.product-card-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.product-info-card {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 500 18px Inter, sans-serif;
  color: black;
  white-space: pre-wrap;
}
.svg-container {
  display: flex;
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  margin-left: 7.25px;
}
.horizontal-flex-container-with-icons {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 93px;
}
.callout-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 40px;
  padding-right: 343px;
  padding-left: 10px;
  background: #f0f0f0;
  border-radius: 8px;
}
.svg-container1 {
  display: flex;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  color: #999999;
}
.contact-bar {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 16px;
  align-items: stretch;
  justify-content: flex-start;
  height: 48px;
}
.card-container-with-svg {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
  padding-left: 8px;
  background: #f0f0f0;
  border-radius: 120px;
}
.svg-container2 {
  display: flex;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
}
