.product-card-container1 {
  flex: 0 0 auto;
}
.product-card-container:first-child {
  margin-top: 0px;
}
.product-card-container:nth-child(1) {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 79.28%,
      rgba(0, 0, 0, 0.6) 95.65%
    ),
    url("https://d2e8m995jm0i5z.cloudfront.net/websiteimages/img_1091_3948_6667a3.webp")
      50%,
    #d9d9d9;
}
.product-card-container:nth-child(2) {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 79.28%,
      rgba(0, 0, 0, 0.6) 95.65%
    ),
    url("https://d2e8m995jm0i5z.cloudfront.net/websiteimages/img_1091_3953_5e8b19.webp")
      50%,
    #d9d9d9;
}
.product-card-container:nth-child(3) {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 79.28%,
      rgba(0, 0, 0, 0.6) 95.65%
    ),
    url("https://d2e8m995jm0i5z.cloudfront.net/websiteimages/div__s1qge8_3ff054.webp")
      50%,
    #d9d9d9;
}
