.main-content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 1440px;
}
.content-section {
  padding-top: 20px;
  padding-bottom: 32px;
}
.horizontal-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.product-thumbnail {
  box-sizing: border-box;
  display: block;
  width: 147px;
  max-width: initial;
  height: 18.5px;
  border: none;
  object-fit: cover;
}
.navigation-panel {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 47px;
}
.hierarchical-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.primary-text-block {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 500 18px Inter, sans-serif;
  color: black;
  white-space: pre-wrap;
}
.svg-container {
  display: flex;
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  margin-left: 7.25px;
}
.navigation-menu {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 38px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 39px;
}
.contact-section {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 69px;
}
.contact-info-container1 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 40px;
  padding-right: 282px;
  padding-left: 10px;
  background: #f0f0f0;
  border-radius: 8px;
}
.svg-container1 {
  display: flex;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  color: #999999;
}
.contact-info-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-left: 15px;
  font: 500 18px Inter, sans-serif;
  color: black;
  white-space: pre-wrap;
}
.horizontal-menu-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 16px;
  align-items: stretch;
  justify-content: flex-start;
  height: 48px;
  margin-left: 19px;
}
.card-container-with-title {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
  padding-left: 8px;
  background: #f0f0f0;
  border-radius: 120px;
}
.svg-container2 {
  display: flex;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
}
.vertical-divider {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 1px;
  height: 48px;
  background: #d9d9d9;
}
.svg-container3 {
  display: flex;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  color: #323232;
}
