.image-container2 {
  flex: 0 0 auto;
  margin-top: 24px;
}
.image-container1 {
  box-sizing: border-box;
  display: block;
  width: 282px;
  max-width: initial;
  height: 473px;
  border: none;
  border-radius: 24px;
  object-fit: cover;
}
