#root {
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

body * {
  font-family: "Poppins", sans-serif !important;
}
.menu-icon-nav,
.menu-icon-nav2 {
  display: none !important;
  font-size: 3rem !important;
  margin-left: 40px;
  cursor: pointer;
}
.fashion-statement-text-style {
  font: 600 54px/67px poppins;
}
.callout-container-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row !important;
  padding: 5px 0 5px 5px;
}
.callout-container-nav input {
  height: 100%;
  width: 100%;
  min-width: 170px;
  margin-left: 10px;
  border: none;
  outline: none;
  color: black;
  background-color: transparent;
}
.svg-container1-nav {
  cursor: pointer;
}
.main-content-container-nav {
  width: 100vw !important;
  min-width: none !important;
}
.fashion-text-container {
  max-width: 90vw;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .contact-info-container-nav {
    position: absolute;
    background-color: rgb(221, 221, 221);
    right: 0;
    transform: translateY(80%);
    flex-direction: column;
    z-index: 1000;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    transition: all 0.1s linear;
  }
  .callout-container-nav {
    background-color: rgb(202, 202, 202);
  }
  .header-navbar-nav {
    width: 90vw;
    overflow: hidden;
    justify-content: space-between !important;
  }
  .hidden2 {
    opacity: 0;
    pointer-events: none;
  }
  .menu-icon-nav {
    display: block !important;
  }
}
@media (max-width: 850px) {
  .menu-icon-nav {
    display: none !important;
  }
  .contact-info-container-nav {
    position: static;
    background-color: rgba(201, 201, 201, 0);
    transform: none;
    flex-direction: column;
    margin: 0;
  }
  .main-navigation-container-nav {
    background-color: rgb(241, 241, 241);
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    right: 0;
    top: 0;
    z-index: 1000;
    transition: all 0.2s linear;
    height: 100vh;
  }
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
  .hidden2 {
    opacity: 1;
    pointer-events: all;
  }
  .horizontal-menu-with-icons-nav {
    flex-direction: column;
  }
  .menu-icon-nav2 {
    display: block !important;

    z-index: 2000;
  }
}
.global-fashion-fabric-styles {
  max-width: 100vw;
}

@media (max-width: 750px) {
  .fashion-statement-text-style,
  .fabric-type-heading {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 500px) {
  .fashion-statement-text-style,
  .fabric-type-heading {
    font-size: 40px;
    line-height: 45px;
  }
}
.fashion-text-container2 {
  height: 387px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-height: none !important;
}
.fashion-text-container2 img {
  max-width: 95vw !important;
  border-radius: 30px;
}
.button-with-icon2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 500px;
  scale: 1.3;
}
.button-with-icon2 > * {
  margin: 0 5px;
  font-size: 30px !important;
}
.main-content-container-nav * {
  font-weight: 400 !important;
}
.material-container {
  width: 90vw;
  margin: 0 auto;
}
.fabric-range-section {
  min-width: 0px !important;
  width: 90vw;
}
.material-button2 {
  background-color: #6a6a45;
  padding: 10px 30px;
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  border: none;
  border-radius: 500px;
  color: white;
  font-size: 18px;
}
.material-button2 svg {
  scale: 0.8;
}
.center-box-with-svg,
.black-rounded-box-with-text {
  border-radius: 500px;
  padding: 25px 10px;
  cursor: pointer;
}
@media (max-width: 1116px) {
  .fabric-range-section {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.majestic-heading1 {
  font: 600 60px/76px Artnoova;
}
.custom-fabric-features-section {
  width: 95vw;
  min-width: 0px !important;
  margin: 0 auto;
}
@media (max-width: 1207px) {
  .fabric-design-description-list {
    align-items: flex-end;
    width: 50%;
  }
  .custom-fabric-description-container {
    width: 50%;
  }
}
@media (max-width: 860px) {
  .custom-fabric-features-section {
    flex-direction: column;
    width: 90vw;
  }
  .custom-fabric-features-section > * {
    width: 100%;
    max-width: none !important;
    margin: 20px 0;
  }
}
@media (max-width: 454px) {
  .majestic-heading1 {
    font: 600 50px/66px Artnoova;
  }
}
.circular-text-container-nav {
  text-align: justify !important;
  width: 100%;
}
@media (max-width: 800px) {
  .realization-container1-home {
    scale: 0.8;
    transform: translateY(-12%);
  }
  .newsletter-section-bb {
    margin-top: -150px;
  }
}
@media (max-width: 750px) {
  .realization-container1-home {
    scale: 0.7;
    transform: translateY(-24%);
  }

  .newsletter-section-bb {
    margin-top: -280px;
  }
}
@media (max-width: 700px) {
  .realization-container1-home {
    scale: 0.6;
    transform: translateY(-36%);
  }
  .newsletter-section-bb {
    margin-top: -380px;
  }
}
@media (max-width: 600px) {
  .realization-container1-home {
    scale: 0.5;
    transform: translateY(-48%);
  }
  .newsletter-section-bb {
    margin-top: -440px;
  }
}
@media (max-width: 500px) {
  .realization-container1-home {
    scale: 0.4;
    transform: translateY(-70%);
  }
  .newsletter-section-bb {
    margin-top: -520px;
  }
}
.realization-container-home {
  align-items: center;
  justify-content: center;
}
.majestic-heading-home {
  font: 600 62px/69px poppins;
}
.flex-box-section-bb,
.navigation-bar-bb {
  justify-content: center;
}
@media (max-width: 600px) {
  .majestic-heading-home {
    font: 600 52px/59px poppins;
  }
}
.flex-container-with-icons-bb {
  width: 90vw;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .flex-container-with-icons-bb {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
.newsletter-container {
  max-width: 95vw;
  min-width: none;
  margin: 0 auto;
}
.newsletter-container > * {
  width: 100%;
  margin: 10px 0;
}
@media (max-width: 925px) {
  .hero-text-block {
    font: 600 38px poppins;
  }
}
@media (max-width: 503px) {
  .hero-text-block {
    font: 600 30px poppins;
  }
}
.subscribe-section {
  width: 95vw;
  min-width: 0px !important;
  max-width: 500px;
}
@media (max-width: 400px) {
  .contact-info-container1-bb {
    flex-direction: column;
    gap: 5px;
  }
}
.contact-info-section-bb,
.footer-copyright-text-bb {
  max-width: 95vw;
  min-width: 0px !important;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.login-section6 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  max-height: none !important;
}
.login-section6 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero-section2 {
  justify-content: space-between !important;
  width: 95% !important;
  max-width: 1500px;
}
.login-section2 > form > div {
  min-width: 0px !important;
  width: 100%;
  margin: 10px 0;
}
.login-section {
  padding: 0 10px;
}
.login-section2 > form > button {
  width: 100%;
  margin: 30px 0 20px 0;
  min-width: 0px !important;
}
.subheading-text-style {
  margin: 0 0 20px 0;
}
.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  width: max-content;
  margin: 0;
}
.hero-section1 {
  min-width: 0px !important;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section-login {
  min-width: 0px !important;
  width: 100vw;
}
@media (max-width: 850px) {
  .login-section6 {
    display: none;
  }
  .central-content-panel {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .hero-section2 {
    padding: 16px 15px;
  }
}
.account-info-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.password-reset-form-container1-email {
  justify-content: center;
  min-width: 0px !important;
  height: 100vh;
  min-height: 750px;
}
.password-reset-section-email {
  width: 90vw;
  min-width: 0px !important;
}
.password-reset-form-container-email {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.hierarchical-text-container {
  width: 90%;
}
.hierarchical-text-container > * {
  width: 100%;
}
.password-reset-info-box-email {
  max-width: 90%;
}
.center-aligned-button-container * {
  width: 100%;
}
.center-aligned-button-container {
  width: 90%;
}
@media (max-width: 450px) {
  .password-reset-message-email {
    font: 600 30px/38px Artnoova;
  }
}
.resetpage {
  min-height: 800px;
}
.text-content-container > div > div {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
}
.svg-container {
  color: #4d4d4d;
}
.password-reset-form-container1 {
  min-width: 0px !important;
  width: 90vw;
}
.password-reset-form {
  width: 95% !important;
}
.nested-svg-container {
  width: 100%;
}
.password-reset-button {
  width: 100%;
  min-width: 0px !important;
}
@media (max-width: 460px) {
  .container2 {
    flex-direction: column;
    align-items: flex-start;
  }
  .vertical-text-block {
    margin: 0;
  }
  .flex-row-container {
    margin: 0;
  }
}
@media (max-width: 400px) {
  .password-reset-heading-style {
    font: 600 30px/38px Artnoova;
  }
  .password-reset-message {
    width: 90%;
  }
}
.password-reset-form-container {
  width: 95%;
}
.nested-svg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-reset-form {
  max-width: 700px;
}
.resetpage {
  height: 100vh;
}
.reset-link-button {
  min-width: 0px !important;
}
.sighupcontainer {
  height: 100vh;
  min-height: 800px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.account-creation-form-container2 {
  width: 90vw;

  max-width: 1000px;
}
.account-creation-button-style {
  min-width: 0px !important;
}
.hierarchical-text-container {
  width: 100%;
}
@media (max-width: 480px) {
  .hierarchical-flex-container {
    flex-direction: column;
    gap: 20px;
  }
  .hierarchical-flex-container > * {
    width: 100%;
    margin: 0;
  }
  .sighupcontainer {
    min-height: 1000px;
  }
  .hero-title {
    margin: 0 0 20px 0;
  }
}
.hero-title {
  width: 100%;
  text-align: center;
}
.button-with-icon-and-text {
  padding: 25px 30px;
  background-color: transparent;
  border: 2px solid rgb(172, 172, 172);
  width: max-content;
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: 15px;
  min-width: 0px !important;
  width: 100%;
  max-width: 500px;
}
.vertical-centered-text-container {
  height: 2px;
  background-color: rgb(214, 214, 214) !important;
  background: none;
}
.subtle-text {
  margin-top: -6px;
  background-color: white;
  padding: 0 20px;
  color: grey;
}
@media (max-width: 436px) {
  .button-with-icon-and-text {
    font-size: 18px;

    padding: 25px 10px;
    min-width: 270px !important;
  }
}
.svg-container1,
.svg-container {
  color: #c60202;
  scale: 0.4;
}
.googlepage {
  height: 100vh;
  min-height: 600px;
  min-width: 0px !important;
}
.googlepage > div {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0px !important;
}
.company-details-container1 {
  width: 90vw;
  max-width: 700px;
}
.primary-button-style {
  min-width: 0px !important;
  width: 100%;
}
.company-logo-container {
  padding: 0px !important;
}
.company-details-container3 {
  flex-direction: column;
  gap: 20px;
}
.company-details-container3 > * {
  width: 100%;
  margin: 0;
}
.vertical-spacing-container {
  margin-top: 0;
}
.hero-section {
  align-items: flex-start;
}
.dark-box {
  display: none;
}
.vertical-centered-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  max-height: 1000px;
}
.vertical-centered-container * {
  padding: 0;
  margin: 0;
}
.image-wrapper {
  height: auto;
  width: auto;
}
.image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-content-container {
  width: 100%;
  min-width: 0px !important;
}
.hero-section {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
}
.hero-title {
  text-align: left;
}
.story-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.narrative-text-style {
  text-align: justify;
}
.hero-section {
  width: 100vw;
  height: 100%;
  max-width: 1300px;
  min-width: 0px !important;
}
.vertical-flex-container {
  height: 60%;
}
.hero-section > div {
  width: 45%;
  min-width: 0px !important;
}
.image-wrapper {
  height: 100%;
  width: 100%;
}
.statistic-cards-group {
  gap: 0px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1045px) {
  .hero-section > div:nth-child(1) {
    width: 65%;
  }
  .hero-section > div:nth-child(2) {
    width: 30%;
  }
  .hero-section {
    width: 90vw;
  }
}
@media (max-width: 780px) {
  .hero-section > div:nth-child(1) {
    width: 100%;
  }
  .hero-section > div:nth-child(2) {
    display: none;
  }
  .vertical-centered-container {
    height: 70vh;
    min-height: 500px;
  }
  .narrative-text-style {
    margin: 20px 0;
  }
}
@media (max-width: 520px) {
  .statistic-cards-group {
    flex-direction: column;
  }
  .vertical-centered-container {
    height: 70vh;
    min-height: 700px;
  }
  .statistic-cards-group > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
  }
  .statistic-cards-group > *:not(.statistic-cards-group > *:last-child) {
    border-bottom: 2px solid rgb(201, 201, 201);
  }
}
.vision-section .statistic-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vision-section-style {
  width: 90vw;
  max-width: 1200px;
  border-radius: 50px;
}
.vision-container {
  background-color: transparent;
}
.vision-section .statistic-card {
  background-color: black !important;
  width: max-content;
  border-radius: 20px;
  overflow: hidden !important;
}
.vision-section .vision-section-style {
  background: url("/assets/div__mc99fc_795f1d.png") 50% / cover no-repeat !important;
}
.vision-section .vision-container1 {
  background-color: rgba(0, 0, 0, 0.678) !important;
  z-index: 10000;
  background: none;
}
.vision-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vision-section .central-text-styler {
  text-align: center;
}
.vertical-centered-container {
  width: 90vw;
  min-height: 0px !important;
  height: auto;
}
.order-process-flow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 650px) {
  .vision-container1 {
    padding: 33px 30px 43px;
  }
}
.image-container {
  box-sizing: border-box;
  display: block;
  width: 45px;
  max-width: initial;
  height: 38px;
}
.vertical-flow-container {
  width: 100%;
  max-width: 1500px;
}
.vertical-flow-container > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.onediv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
}
.onediv > h1 {
  background-color: #6a6a45;
  padding: 15px;
  border-radius: 500px;
  z-index: 300;
  aspect-ratio: 1/1;
  text-align: center;
  color: white;
  position: relative;
}
.onediv > p {
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin: 0;
}
.line {
  position: absolute;
  top: 43%;
  left: 50%;
  height: 5px;
  width: 80vw;
  background-color: #6a6a45;
  max-width: 1350px;
}
.order-process-flow-container {
  min-width: 0px !important;
}
@media (max-width: 1209px) {
  .line {
    width: 75vw;
  }
}
@media (max-width: 950px) {
  .vertical-flow-container {
    scale: 0.8;
    width: 120%;
  }
  .line {
    position: absolute;
    width: 830px;
  }
}
@media (max-width: 776px) {
  .vertical-flow-container {
    scale: 0.6;
    width: 140%;
  }
  .line {
    position: absolute;
    width: 1000px;
  }
}
.order-process-container {
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 676px) {
  .vertical-flow-container {
    scale: 1;
    width: 100%;
  }
  .imagesdiv {
    flex-direction: column;
    gap: 40px;
  }
  .onediv {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .onediv > p {
    width: 200px;
  }
  .onediv > h1 {
    height: 45px;
    width: 45px;
  }
  .line {
    position: absolute;
    top: 97%;
    left: 50%;
    height: 5px;
    width: 620px;
    transform-origin: left;
    transform: rotate(90deg);
  }
}
@media (max-width: 800px) {
  .newsletter-container {
    margin-top: 90px;
  }
}
@media (max-width: 750px) {
  .newsletter-container {
    margin-top: 220px;
  }
}
@media (max-width: 700px) {
  .newsletter-container {
    margin-top: 320px;
  }
}
@media (max-width: 500px) {
  .newsletter-container {
    margin-top: 490px;
  }
}
@media (max-width: 400px) {
  .hero-section-bb {
    height: 228vh;
  }
}
@media (max-width: 974px) {
  .hero-image-container {
    scale: 0.9;
  }
}
@media (max-width: 714px) {
  .hero-image-container {
    scale: 0.7;
  }
}
@media (max-width: 500px) {
  .hero-image-container {
    scale: 0.5;
  }
  .vision-section-style {
    width: 100vw;
  }
  .statistic-card {
    border-radius: 0px !important;
  }
  .vision-container1 {
    padding: 33px 20px 43px;
  }
}
@media (max-width: 400px) {
  .hero-image-container {
    scale: 0.4;
  }
}
.blog-post-card-container-blogs {
  width: 100%;
  min-width: 0px !important;
}
.uicontainer {
  width: 100vw;
  margin: 0 auto;
  padding: 0 5vw;
  box-sizing: border-box;
  min-width: 0px !important;
}
.uicontainer * {
  min-width: 0px !important;
}
.main-content-section-b,
.blog-post-container-blogs {
  width: 100%;
}
.profile-image-circle {
  min-width: 40px !important;
}
.card-container-blogs {
  width: 30%;
  flex: none;
  margin-bottom: 30px;
  margin: 10px 15px;
}
.article-card-layout-blogs {
  gap: 0px;
  flex-wrap: wrap;
}
@media (max-width: 1027px) {
  .article-card-layout-blogs > * {
    width: 44%;
  }
}

.hero-title-text-style-blogs {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 746px) {
  .article-card-layout-blogs > * {
    width: 80%;
    margin: 10px auto;
  }
}
@media (max-width: 400px) {
  .article-card-layout-blogs > * {
    width: 100%;
    margin: 10px 0;
  }
}
@media (max-width: 1100px) {
  .hero-title-text-style-blogs {
    font: 600 156px/191px Artnoova;
  }
}
@media (max-width: 980px) {
  .hero-title-text-style-blogs {
    font: 600 136px/171px Artnoova;
  }
}
@media (max-width: 850px) {
  .hero-title-text-style-blogs {
    font: 600 116px/151px Artnoova;
  }
}
@media (max-width: 725px) {
  .hero-title-text-style-blogs {
    font: 600 96px/131px Artnoova;
  }
}
@media (max-width: 602px) {
  .hero-title-text-style-blogs {
    font: 600 76px/111px Artnoova;
  }
}
@media (max-width: 477px) {
  .hero-title-text-style-blogs {
    font: 600 56px/91px Artnoova;
  }
}
.blog-post-card-container-blogs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap-reverse;
}
.horizontal-button-group-blogs {
  width: max-content;
  flex-wrap: wrap;
  justify-content: center;
}
.horizontal-layout-container-blogs {
  max-width: 100%;
  justify-content: center;
}
.flexible-container-blogs {
  flex: none;
  max-width: 300px;
}
@media (max-width: 479px) {
  .flexible-container-blogs {
    width: 60%;
  }
  .button-with-icon3-blogs {
    width: 100px;
  }
}
.vertical-centered-flex-container,
.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 500px;
  grid-template-rows: 500px;
  width: 90vw;
  max-width: 2000px;
  margin: 0 auto;
  gap: 20px;
}
.vertical-centered-flex-container > *,
.products > * {
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 400px;
}
.main-content-section {
  width: 100%;
}
.event-card-list {
  width: 100%;
}
.mainpageevents {
  height: 75vh;
  width: 100%;
  max-height: 600px !important;
  min-height: 500px !important;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainpageevents > img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}
.leftsidecontent {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.leftsidecontent > h1 {
  font-size: 50px;
  margin-bottom: 0;
}
.leftsidecontent > p:not(.content-text-area) {
  font-size: 30px;
  margin-top: 0;
}
.content-text-area {
  font-size: 20px;
  margin-bottom: 30px;
}
@media (max-width: 940px) {
  .mainimage {
    display: none;
  }
  .leftsidecontent {
    width: 100%;
    max-width: 100%;
    transform: translateY(48px);
    margin-bottom: 100px;
  }
}
@media (max-width: 500px) {
  .leftsidecontent > h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
  .leftsidecontent {
    align-items: center;
    text-align: left;
  }
  .leftsidecontent > * {
    width: 100%;
  }
  .leftsidecontent > p:not(.content-text-area) {
    font-size: 30px;
    margin-top: 0;
  }
  .content-text-area {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.svg-container {
  scale: 1.3;
  margin-left: 10px;
}
.event-date-style {
  font: 600 20px Inter, sans-serif;
}
.event-year-label {
  font: 600 16px Inter, sans-serif;
}
.event-details-container {
  transform: translateX(-30%) !important;
  margin-left: 0px;
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
}
.button-with-icon {
  padding: 10px;
}
.eventimage {
  width: 30%;
}
.eventimage img {
  width: 100%;
}
@media (max-width: 1174px) {
  .eventimage {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .eventimage {
    width: 70%;
  }
}
.event-card1 {
  position: relative;
}

@media (max-width: 880px) {
  .eventimage {
    width: 100%;
  }
  .event-card-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 0px;
  }
  .event-details-container1 {
    width: 100%;
    flex-wrap: wrap;
  }
  .event-details-container {
    position: absolute;
    top: 215px;
    left: 18px;
    width: max-content !important;
    width: 70%;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    transform: none !important;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .event-details-container > * {
    color: rgba(0, 0, 0, 0.733) !important;
    margin: 0;
  }
  .event-card-container1 {
    margin-top: 50px;
  }
}
@media (max-width: 1900px) {
  .vertical-centered-flex-container,
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1300px) {
  .vertical-centered-flex-container,
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .vertical-centered-flex-container,
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .vertical-centered-flex-container,
  .products {
    grid-template-columns: 1fr;
  }
  .vertical-centered-flex-container > *,
  .products > * {
    width: 100%;
    max-width: none !important;
  }
}
.vertical-centered-flex-container > *,
.products > * {
  position: relative;
}
.hot-selling-container {
  width: max-content;
  padding: 10px 15px;
  margin-top: 10px;
}
.material-card-container {
  max-width: 2000px;
  margin: 0 auto;
}
.product-gallery-row,
.flex-container-with-images {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 10px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}
.circles {
  width: 50%;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circles > * {
  height: 28px;
  width: 28px;
  margin: 10px 4px;
  padding: 0;
  border-radius: 100000px;
  cursor: pointer;
}
.circles > *:first-child {
  background-color: #c60202;
  margin-left: 0;
}
.circles > *:nth-child(2) {
  background-color: #9c0101;
}
.circles > *:nth-child(3) {
  background-color: #770000;
}
.adddiv {
  height: 37px;
  width: 37px;
  border-radius: 100000px;
  cursor: pointer;
  color: black;
  background-color: white;
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.relatedproducts {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #bfbfbf;
  margin-bottom: 50px;
}
.relatedproducts > p {
  background-color: white;
  color: #bfbfbf;
  padding: 5px 30px;
}
.product-related-container {
  max-width: 2000px;
  margin: 50px auto;
}
.products {
  grid-auto-rows: 360px !important;
  grid-template-rows: 360px !important;
}
.product {
  border-radius: 10px;
  overflow: hidden;
}
.imagediv {
  height: 300px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.219);
}
.textdiv > *:first-child {
  margin: 5px 0 0 0;
}
.textdiv > *:last-child {
  margin: 0;
}
.technology-card2 {
  margin-bottom: 50px;
}
.image-container-sb {
  width: 100vw;
  margin: 0 auto;
}
.content-container {
  padding: 100px 0;
  margin: 0 auto;
  max-width: 90vw;
}
.content-container p {
  text-align: justify;
}
.technology-card2 {
  max-width: 95vw;
}
.technology-card1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 500px) {
  .tech-lauda-bold {
    font: 600 46px/57px Artnoova;
  }
}
