.content-container1 {
  box-sizing: border-box;
  width: 100%;
  margin-top: 56px;
}
.highlighted-text-block {
  padding: 0;
  margin: 0;
  font: 600 24px Inter, sans-serif;
  color: black;
  white-space: pre-wrap;
}
.narrative-text-style {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 24px;
  font: 400 16px/24px Inter, sans-serif;
  color: #666666;
  text-align: left;
  white-space: pre-wrap;
}
.hierarchical-text-block {
  display: block;
  line-height: 40px;
}
