.password-reset-form-container1-email {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 1440px;
  background-color: whitesmoke;
}
.password-reset-section-email {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 1280px;
  padding-top: 35px;
  padding-bottom: 58px;
}
.password-reset-container-email {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: white;
  border-radius: 24px;
}
.password-reset-form-container-email {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 464px;
  padding-top: 113px;
  padding-bottom: 177px;
}
.forgot-password-link-email {
  flex: 0 0 auto;
  align-self: center;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  font: 600 14px/17px Inter, sans-serif;
  color: black;
  text-decoration-line: underline;
  white-space: pre-wrap;
}
