.contact-info-container-nav {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 93px;
}
.callout-container-nav {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 40px;
  padding-right: 343px;
  padding-left: 10px;
  background: #f0f0f0;
  border-radius: 8px;
}
.svg-container1-nav {
  display: flex;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  color: #999999;
}
.contact-info-text-style-nav {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 500 18px Inter, sans-serif;
  color: black;
  white-space: pre-wrap;
}
.contact-info-section-nav {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
}
.card-container-nav {
  flex: 0 0 auto;
  padding-top: 6px;
}
.circular-text-container-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding-right: 8px;
  padding-left: 8px;
  background: #f0f0f0;
  border-radius: 120px;
}
.svg-container2-nav {
  display: flex;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
}
.vertical-number-container-nav {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 51px;
}
.badge-with-icon-nav {
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  height: 20px;
  padding: 0 4px;
  font: 600 15.5px Inter, sans-serif;
  color: white;
  background: black;
  border: none;
  border-radius: 156px;
  z-index: 1;
}
.vertical-center-with-icon-nav {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 48px;
  margin-top: -14px;
  background: #f0f0f0;
  border-radius: 120px;
}
