.vision-container1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  padding: 33px 68px 43px;
  background: url("https://d2e8m995jm0i5z.cloudfront.net/websiteimages/div__mc99fc_795f1d.webp")
    50% / cover no-repeat;
  border: none;
}
